/* 
===================================================================================
MAIN STYLES 
===================================================================================
*/ 
:root {
    --main-white: rgb(230, 221, 221); 
    --main-black: rgb(34, 33, 33);  
    --main-grey: rgb(90, 87, 87);  
}

/* * {
   
}  */

a {
    text-decoration: none;
}


/* 
====================================================================================
NAVBAR STYLES 
====================================================================================
*/

.navbar-items { 
    background-color: var(--main-black); 
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
    width: 100vw;
}

.navbar-logo {
    color: var(--main-white);
    cursor: pointer;
}

.hamburger-menu {
    color: var(--main-white);
    transition: all 2s;  
    display: none; 
}

.navbar-items-links {
    display: flex;
    flex-direction: row;
    list-style: none;
} 

.nav-links {
    color: var(--main-white); 
    padding: 1rem;  
}  

.nav-links:hover {
    background-color: var(--main-grey); 
    border-radius: 0.5rem;
} 

/* == MOBILE STYLES NAVBAR == */ 
@media all and (max-width: 40em){ 
   .navbar-items {
       position: relative;
       width: 100vw;
   }
   
   .navbar-items-links {
      position: absolute; 
      top: 63.5px; 
      left: -100%;
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center; 
      background-color: rgba(0,0,0,0.9);
      height: 90vh; 
      width: 100vw;
      font-size: 3rem; 
   } 

    .items-active {
      left: 0; 
      z-index: 1; 
      transition: all 0.5s ease;
   }

   .hamburger-menu {
       display: block; 
       color: var(--main-white); 
       position: absolute;
       top: 0;
       right: 0;
       transform: translate(-100%, 40%);
       font-size: 1.8rem;
       cursor: pointer;
   }
   .navbar-items-links li {
       width: 90%;
   }
   .navbar-items-links a {
       padding: 0;   
   } 
   .navbar-items-links:hover {
      width: inherit;
   }
    .navbar-logo {
        font-size: 2rem; 
    }
}