/* 
===================================================================================
MAIN STYLES 
===================================================================================
*/ 
:root {
    --main-white: rgb(230, 221, 221); 
    --main-black: rgb(34, 33, 33);  
    --main-grey: rgb(90, 87, 87);  
}

/* * {
   
}  */

a {
    text-decoration: none;
}


/* 
====================================================================================
NAVBAR STYLES 
====================================================================================
*/

.navbar-items {
    background-color: black; 
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
} 

.navbar-logo {
    color: white;
    cursor: pointer;
}

.hamburger-menu {
    color: var(--main-white);
    transition: all 2s;  
    display: none;
}

.navbar-items-links {
    display: flex;
    flex-direction: row;
    list-style: none;
} 

.nav-links {
    color: var(--main-white); 
    padding: 1rem;  
}  

.nav-links:hover {
    background-color: var(--main-grey); 
    border-radius: 0.5rem;
}
